DISCORD_BOT_TOKEN=
DISCORD_OAUTH_CLIENT_ID=
DISCORD_OAUTH_CLIENT_SECRET=
OWNER_USER_IDS=

# Custom domain url for assets (CDN or bucket URL)
ASSETS_BASE_URL=

# Name of the bucket
S3_BUCKET=
# Host of the bucket, without the scheme (https:// or http://)
S3_HOST=

S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION=auto
S3_PATH_STYLE=true
